.bg-input{
    color: white;
    background-color: rgb(152, 152, 152);
}

.bg-input:focus{
    color: white;
    background-color: rgb(152, 152, 152);
}

.bg-input::placeholder{
    color: white;
    background-color: rgb(152, 152, 152);
}

.bg-nav{
    background-color: rgb(133, 133, 133);
}

.style-footer{
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid grey ;
}

@media(min-width:481px){
    .clicked-nav{
        border: 1px solid black;
        color:black;
        text-align: start;
        padding-left: 3px;
        margin-left: 0px;
    }
}

@media (max-width:480px){
    .clicked-nav{
        border: 1px solid black;
        color:black;
        text-align: start;
        padding-left: 3px;
        margin-left: 0px;
        width: 25%;
        
    }
}